.main {}

.main .content {
    width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    padding-top: 300px;
}

.connecting::after {
    content: 'Connecting...';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.assistant {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--background-color);
    z-index: 100;
    --scale-factor: .8;
}

.assistant.scrolled,
.assistant.pinned {
    position: fixed;
    top: 60px;
    width: var(--max-width);
    margin: 0 auto;
    --scale-factor: .25;
    justify-content: space-between;
}

.assistant .input {
    margin: 0 auto;
}

.preview {
    position: fixed;
    inset: 0;
    top: 250px;
}

iframe {
    width: 100%;
    height: 100%;
}

.loading::after {
    content: 'Loading...';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 100px;
    border-radius: 10px;
    border: solid 1px var(--font-color);
    cursor: default;
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.conversation {
    min-height: 100vh;
    margin-bottom: -50vh;
    align-items: center;
    display: flex;
    flex-flow: column;
}

.conversation .message {
    margin: 10px 0;
    padding: 15px;
    border-radius: 20px;
    position: relative;
    color: var(--font-color);
    max-width: 80%;
    word-wrap: break-word;
    box-shadow: 0 0 10px 0 #333;
}

.conversation .message>h4 {
    margin: 0;
}

.conversation .message p img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #333;
}

.conversation .message.user {
    background-color: var(--muted-color);
    align-self: flex-end;
}

.conversation .message.ai {
    background-color: var(--accent-color);
    border: solid 1px var(--muted-color);
}

.conversation .message.ai:last-child {
    border-color: var(--color-blue);
}

.conversation .message>.buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-flow: row-reverse;
}

.conversation .message>.buttons.left {
    right: auto;
    left: 10px;
    flex-flow: row;
}

.conversation .message>.buttons.small {
    opacity: 0;
    transition: opacity .3s ease-in-out;
    flex-flow: row;
}

.conversation .message:hover>.buttons.small {
    opacity: 1;
}

.conversation .message>.buttons>button {
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 6px;
    background: none;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: large;
    color: var(--font-color);
}

.conversation .message>.buttons.small>button {
    height: 20px;
    width: 20px;
}

.conversation .message>.buttons.small>button svg,
.conversation .message>.buttons.small>button img {
    width: 16px;
    height: 16px;
}

@media (max-width: 768px) {

    .assistant {
        --scale-factor: .5;
    }

    .preview{
        top: 310px;
    }

    .conversation .message {
        max-width: 100%;
    }
}

@media print {
    .assistant {
        display: none;
    }

    .conversation .message>.buttons {
        display: none;
    }

    .conversation .message {
        box-shadow: none;
        color: black;
        background-color: white;
    }
}