.main{
    width: var(--max-width);
    margin: 0 auto;
    min-height: 100vh;
}

.main .header>h1 {
    text-align: center;
}

.main .document {
    width: 90%;
    margin: 0 auto;
}

.main .document>.content {
    margin-top: 60px;
}

.main .document.application iframe {
    overflow: visible;
    width: calc(var(--max-width) * .68) !important;
}

.connecting::after {
    content: 'Connecting...';
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 100px;
    line-height: 100px;
    background-color: var(--background-color);
    border-radius: 10px;
    border: solid 1px var(--font-color);
    color: var(--font-color);
    font-size: 2em;
    z-index: 1000;
}

.assistant {
    z-index: 100;
    --scale-factor: .8;
}

.assistant.screen-position {
    --scale-factor: .5;
}

.assistant.pinned,
.assistant.scrolled,
.assistant.tapped {
    --scale-factor: .25;
    left: calc(50% - var(--max-width) / 2 + 100px);
}

.loading::after {
    content: 'Loading...';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 100px;
    border-radius: 10px;
    border: solid 1px var(--font-color);
    cursor: default;
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 2em;
    z-index: 1000;
}

.conversation .application {
    background-color: var(--font-color);
}

.conversation .application .actions button {
    color: var(--background-color) !important;
}

.conversation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: 0 auto;
    /* min-height: 100vh; */
    padding-top: 120px;
    overflow: visible;
}

.conversation>*:last-child {
    margin-bottom: 50vh;
}

.conversation .message {
    margin: 10px 0;
    padding: 15px;
    border-radius: 20px;
    position: relative;
    color: var(--font-color);
    word-wrap: break-word;
    box-shadow: 0 0 10px 0 #333;
}

.conversation .message>h4 {
    margin: 0;
}

.conversation .message p img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #333;
}

.conversation .message.user {
    background-color: var(--muted-color);
    align-self: flex-end;
}

.conversation .message.ai {
    background-color: var(--accent-color);
    border: solid 1px var(--muted-color);
}

.conversation .message.ai:last-child {
    border-color: var(--color-blue);
}

.conversation .message>.buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-flow: row-reverse;
}

.conversation .message>.buttons.left {
    right: auto;
    left: 10px;
    flex-flow: row;
}

.conversation .message>.buttons.small {
    opacity: 0;
    transition: opacity .3s ease-in-out;
    flex-flow: row;
}

.conversation .message:hover>.buttons.small {
    opacity: 1;
}

.conversation .message>.buttons>button {
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 6px;
    background: none;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: large;
    color: var(--font-color);
}

.conversation .message>.buttons.small>button {
    height: 20px;
    width: 20px;
}

.conversation .message>.buttons.small>button svg,
.conversation .message>.buttons.small>button img {
    width: 16px;
    height: 16px;
}

@media (max-width: 768px) {

    .main .document {
        width: 100%;
    }
    
    .assistant {
        --scale-factor: .5;
    }

    .conversation {
        width: 100%;
    }
}

@media print {

    .main .document {
        width: 100%;
        box-shadow: none;
        border: none;
    }

    .tooltip,
    .tray,
    .sidebar {
        display: none;
    }

    .assistant {
        display: none;
    }

    .conversation .message>.buttons {
        display: none;
    }

    .conversation .message {
        box-shadow: none;
        color: black;
        background-color: white;
    }
}