.list {
    position: relative;
}

.list>*>* {
    max-width: 100%;
    max-height: 120px;
    object-fit: contain;
}

.list .list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    color: var(--font-color);
}

.list h6 {
    display: none;
}

.list.empty h6 {
    display: block;
    padding: 10px;
}

.list.large .folder>.remove,
.list.large .file-icon>.remove,
.sidebar .list .folder>.remove,
.sidebar .list .file-icon>.remove {
    width: 12px;
    height: 12px;
    line-height: 11px;
    font-size: xx-small;
}

.list.large .file-icon,
.sidebar .list .file-icon {
    width: 16px;
    height: 21px;
    margin: 6px 0;
    margin-right: 100px;
}

.list.large .file-icon::after,
.sidebar .list .file-icon::after {
    border-width: 2px;
}

.list.large .file-icon h5 {
    position: static;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -6px;
    line-height: 1.5;
    font-size: small;
    padding-left: 6px;
    width: auto !important;
    max-width: 85px !important;
    text-overflow: ellipsis;
}

.sidebar .list .file-icon {
    white-space: nowrap;
    margin-right: 200px;
}

.sidebar .list .file-icon h5 {
    max-width: var(--sidebar-width) !important;
    width: var(--sidebar-width) !important;
    text-align: left;
    margin: 0;
}

@media (max-width: 768px) {

    .sidebar .list .file-icon h5 {
        max-width: calc(var(--sidebar-width) - 50px);
        width: calc(var(--sidebar-width) - 50px);
    }
}