.loader-container {
    position: absolute;
    inset: 0;
    background-color: #55555555;
    display: none;
}

.loader-container.open {
    display: block;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: loading 1.8s infinite ease-in-out;
}

.loader {
    color: var(--highlight-color);
    font-size: 7px;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
    position: fixed;
    bottom: 420px;
    left: 50%;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@keyframes loading {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em
    }

    40% {
        box-shadow: 0 2.5em 0 0
    }
}

@media (max-width: 768px) {
    .loader {
        bottom: 475px;
    }
}